<p id="notice" class="hidden"><%= notice %></p>

<p class="text-center">Cast your vote for next month's book below!</p>
<p class="text-center mb-4"><em>Choose wisely.</em></p>

<%= turbo_stream_from @meeting %>

<div id="books">
  <%= render @meeting.books %>
</div>
