<div class="w-1/2 p-5 my-4 rounded-md border-4 ">
  <h2 class="tex-4xl font-bold"><%= book.title %></h2>
  <p><%= book.author %></p>
  <p><%= book.description %></p>
  <p>Votes: <%= book.votes %></p>
  <Button onClick={what}>vote me</Button>
</div>
